<html>
<head>
</head>
<script src="/static/vendor/jquery-2.1.0.min.js" ></script>
<script src="/static/vendor/jquery.awesomeCloud-0.2.js" ></script>
<style>
* { margin: 0px; padding: 0px }
</style>
</head>
<body>
<div id="wordcloud" style="border:0px;height:365px;width:450px;background: {{background_color}}">
{% for term in terms %}
    <span data-weight="{{term.weight}}">{{term.term}}</span>
{% endfor %}
</div>
<script>
    var settings = {
        "size" : {
            "normalize" : false,
            "factor" : 1,
            "grid" : 10
        },
        "options" : {
            "color" : "random-light",
            "printMultiplier" : 1,
            "rotationRatio" : 0,
        },
        "font" : "Futura, Helvetica, sans-serif",
        "shape" : "square",
    }
    $( "#wordcloud" ).awesomeCloud( settings );
</script>
</body>
</html>
